button {
  text-align: center;
  padding: 0px;
  margin: 50px;
  font-family: raleway;

}

.buttonDiv {

}

#buttonId {
 display: inline-block;
 margin: 30px;
 padding: 30px;
}

.submitDiv {
  text-align: center;
}
#arrow {
  font-size: 100px;
  color: #80cbc4;
}

#submitP{
  text-align: center;
}

h2 {
  color: grey;
  font-family: raleway;
  text-align: center;

}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  margin-left: 33%;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
