.faces {
  text-align: center;
}

.face {
  font-size: 250px;
  color: black;
}

span.fa.fa-meh-o {
  color: grey;
}

span.fa.fa-frown-o {
  color: grey;
}

span.fa.fa-smile-o {
  color: grey;
  float: left;
}

#faceList {
  text-align: center
}
