/* TODO Clean this whole thing up, make responsive, attempt prettiness */

#signin {
  margin-left: 25em;
  margin-right: 25em;
  background-color: lightgray;
  text-align: center;
  border-radius: 20px;
}


.form{
  position: relative;
}


input.text {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #e0f2f1;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-top: 2em;
  border: 1px solid #e0f2f1;
  border-radius: 4px;
  display: inline-block;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.emailTextStyle {
  padding-top: 2em;
}
.passwordTestStyle {
  margin-left: 20px;
}

label {
  margin-top: 1em;
  float: left;
  margin-left: 5em;
  margin-right: 20em;
  font-family: raleway;

}

p.message {
  width: 95%;
  padding: 12px 20px 40px;
  margin-top: 3em;
  margin: 8px 0;
  font-family: raleway;
  position: relative;
  text-align: center;
}

.signInBtn {
  height: 3em;
  margin-top: 3em;
	border: 0;
	border-radius: 3px;
	outline: none;
	background-color: lightgrey;
    padding: 0.2em .7em .4em .7em;
    margin-bottom: 10px;
}

.signInBtn:hover {
	background-color: #80cbc4;
}
