ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  margin-left: 33%;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1 {
  color: #ddd;
  font-family: raleway;
  text-align: center;

}

.good {
  float: left;
  margin-top: 2%;
  margin-left: 40%;
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: #80cbc4;
  font-family: raleway;
}

.grind {
  float: left;
  margin-top: 2%;
  font-size: 50px;
  font-weight: bold;
  color: lightgrey;
  font-family: raleway;

}

hr {
  width: 50%;
}
