ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  margin-left: 33%;
}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* mess with this later

.fa-tachometer {
font-size: 30px;
}
.fa-pencil {
font-size: 30px;
}
.fa-rocket {
font-size: 30px;
}

*/


li a:hover {
  background-color: #111;
}

h2 {
  color: grey;
  font-family: raleway;
  text-align: center;

}

.good {
  float: left;
  margin-top: 2%;
  margin-left: 40%;
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: #80cbc4;
  font-family: raleway;
}

.grind {
  float: left;
  margin-top: 2%;
  font-size: 60px;
  font-weight: bold;
  color: #bdbdbd;
  font-family: raleway;

}

hr {
  width: 50%;
}
